button {
    margin: 10px;
    width: 150px;
    height: 50px;
}

.app {
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
}

.row-1,
.row-3 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.row-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row-3 {
    width: 400px;
}

.btn-a,
.btn-d,
.btn-f {
    width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-d,
.btn-f {
    width: 400px;
}
